<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo" class="logo-image" />
    <h3 class="header">
      <% if (user && user.name) { %>
        <span>You are logged in as <%= user.name %></span>
      <% } %>
      <a href="/logout" class="right-link">Logout</a>
    </h3>
  </header>

  <h1>Admin Dashboard</h1>
 
  <form action="/studenthistory" method="GET" class="login-form">
    <div class="center-links">
      <a href="/viewallstudentshistory" class="action-link">View All Students History</a>
      <p>OR</p>
      <label for="rollNumber">Enter Student Roll Number:</label>
      <input type="text" name="rollNumber" id="rollNumber" placeholder="Roll Number" required>
      <button type="submit" class="btn">View Student History</button>
    </div>
  </form>
</body>
</html>
