<link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo"/>
    <h1>Enter Roll Number</h1>
  </header>

<form action="/admin-action/submit" method="POST">
  <label for="rollNumber">Roll Number:</label>
  <input type="text" name="rollNumber" id="rollNumber" placeholder="Enter roll number" required><br><br>

  <!-- Hidden input to carry the chosen action (view/edit) -->
  <input type="hidden" name="action" value="<%= action %>">

  <button type="submit">Submit</button>
  <p><a href="/logout">Logout</a></p> <!-- Add Logout Option -->
</form>
</body>