<link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
<body>
    <header>
      <img src="/images/Headermgujpg.webp" alt="Logo"/>
      <h2>Registration Successful!</h2>
    </header>

<p>Details edited successfully.</p>

<!-- Link to go back to the dashboard -->
<p><a href="/dashboard">Go to Dashboard</a></p>
<p><a href="/logout">Logout</a></p> <!-- Add Logout Option -->