<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/styles/style.css"> <!-- Link to external CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo"/>
    <h1>Welcome to the Hostel Management System</h1>
  </header>

  <div class="center-links">
    <a href="/login">Login</a>
    <a href="/register">Create an Account</a>
  </div>
  <div class="floating-menu">
    <h3>Quick Menu</h3>
    <div class="menu-item">
      <a href="/apply?type=fresh">APPLY</a>
      <br>
    </div>
    
  </div>
</body>
</html>
