<link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
<body>
    <header>
      <img src="/images/Headermgujpg.webp" alt="Logo"/>
      <h2>Registration Successful!</h2>
    </header>
  

<p>Your account has been created successfully.</p>
<p><a href="/login">Go to Login</a></p>
