<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Entry</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo" class="logo-image" />
    <h3 class="header">
      <% if (user && user.name) { %>
     <span>You are logged in as <%= user.name %></span>
       <% } %>
       <a href="/logout" class="right-link">Logout</a>
     </h3>
     <h1>Enter details below</h1>
  </header>
<body>
  <form action="/student-entry" method="POST" class="login-form">
    <label for="roll_number">Roll Number</label>
    <input type="text" id="roll_number" name="roll_number" required>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>

    <label for="course">Course</label>
    <input type="text" id="course" name="course" required>

    <label for="year">Year</label>
    <input type="text" id="year" name="year" required>

    <label for="gender">Gender</label>
    <select id="gender" name="gender" required>
      <option value="" disabled selected>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select><br><br>
   <p><button type="submit">Submit</button></p> 
   
  </form>
</body>
<div class="center-links">
  <a href="/dashboard">Go to Dashboard</a>
</div>
</html>
