<!DOCTYPE html>
<html lang="en">
  <div class="top-links">
    <a href="/dashboard" class="left-link">Go to Dashboard</a>
    <a href="/logout" class="right-link">Logout</a>
    <% if (user && user.name) { %>
      <span class="user-name"><%= user.name %></span>
    <% } %>
  </div>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <h2>Student Entry Submitted Successfully!</h2>
  <p><a href="/dashboard">Go to Dashboard</a></p>
 <p><a href="/logout">Logout</a> </p> <!-- Add Logout Option -->
</body>
</html>
